.topo {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.menu {
  margin: 20px 0;
}

.menu button {
  margin: 5px;
  padding: 10px 16px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background: #00c8ff;
  font-weight: bold;
}

.menu button:hover {
  background: #00a6d6;
}
